body {
 background-color: #000;
 margin: auto;
 padding: 20px;
 width: 600px;
}

div.instructions {
 color: #ddd;
 width: 75%;
 padding: 10px;
 margin: auto;
 font-size: 125%;
 text-align: center;
}

ol, ul {
 text-align: left;
}

li {
 margin-top: 0.25em;
 margin-bottom: 0.25em;
}

blockquote p {
 font-size: 175%;
 color: #fff;
 font-variant:small-caps;
 margin: 10px;
} 

img {
 display: block;
 margin: -30px auto 10px;
 padding: 0;
}

a {
 color: #ddd;
}

/* Borrowed from: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */
.rectangle-speech-border {
	position:relative; 
	padding:15px 15px; 
	margin:2em 0 3em;
	border:5px solid #e52; 
	text-align:center; 
	background:#000; 
	/* css3 */
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
}

/* creates larger curve */
.rectangle-speech-border:before {
	content:""; 
	position:absolute; 
	z-index:10; 
	bottom:-39px; 
	left:50px; 
	width:50px; 
	height:30px;
	border-style:solid; 
	border-width:0 0 5px 5px; 
	border-color:#e52; 
	background:transparent;
	/* css3 */
	-webkit-border-bottom-left-radius:80px 50px;
	-moz-border-radius-bottomleft:80px 50px;
	border-bottom-left-radius:80px 50px;
    /* reduce the damage in FF3.0 */
    display:block; 
}

/* creates smaller curve */
.rectangle-speech-border:after {
	content:""; 
	position:absolute; 
	z-index:10; 
	bottom:-36px; 
	left:80px; 
	width:20px; 
	height:30px; 
	border-style:solid; 
	border-width:0 0 5px 5px; 
	border-color:#e52; 
	background:transparent;
	/* css3 */
	-webkit-border-bottom-left-radius:40px 50px; 
	-moz-border-radius-bottomleft:40px 50px; 
	border-bottom-left-radius:40px 50px; 
    /* reduce the damage in FF3.0 */
    display:block; 
}

/* creates a small circle to produce a rounded point where the two curves meet */
.rectangle-speech-border > :first-child:before {
	content:""; 
	position:absolute; 
	bottom:-39px; 
	left:100px; 
	width:8px; 
	height:8px;
	background:#e52;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* creates a rectangle to cover part of the oval border*/
.rectangle-speech-border > :first-child:after {
	content:""; 
	position:absolute; 
	bottom:-10px; 
	left:55px; 
	width:25px; 
	height:15px; 
	background:#000;
}

